@mixin signInBtn {
  width: 260px;
  height: 59px;
  background-color: $body-bg-color;
  color: $title-color;
  border: solid 2px $subtitle-color;
  border-radius: 40px;
  box-sizing: border-box;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 37px;
  cursor: pointer;

  &:hover {
    background-color: $subtitle-color;
    color: $body-bg-color;
    transition: 0.5s;
  }

  &:not(:hover) {
    transition: 0.5s;
  }
}

@mixin selectSeasonBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  background-color: transparent;
  border: solid 1px white;
  padding: 26px 40px;
  border-radius: 5px;
  color: white;
  font-family: $poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 37px;
}

@mixin previousNextBtn {
  width: 301px;
  height: 75px;
  font-family: $poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 37px;
  color: white;
  background-color: transparent;
  border: solid 1px $title-color;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: $title-color;
    color: $body-bg-color;
    transition: 0.5s;
  }
  &:not(:hover) {
    transition: 0.5s;
  }
}
