//? Color

$body-bg-color: #1f1f1f;
$nav-bg-color: #0f0f0f;
$footer-bg-color: #0f0f0f;
$title-color: #ffffff;
$subtitle-color: #DADADA;
$subtitle-color-opa--: rgba(218, 218, 218, 0.54);
$hover-color: #b92c27;

//? Size

$input-font-size: 20px;
$conditions-font-size: 15px;

//? Fonts

$poppins: "Poppins", sans-serif;
$montserrat-alternates: "Montserrat Alternates", sans-serif;

