.footer {
    @include footerStyle;
  
    .footer_container {
      width: 80%;
      height: 100%;
      margin: auto;
  
      .footer_content_displaying {
        display: flex;
        justify-content: center;
        gap: 20px;
        height: 100%;
  
        .first_column {
          width: 20%;
          height: 100%;
          display: flex;
          flex-direction: column;
          gap: 20px;
          justify-content: center;
          align-items: flex-start;
  
          .footer_icon {
            @include footerIconStyle;
          }
        }
  
        .second_column {
          width: 60%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
  
          .footer_list {
            display: flex;
            list-style: none;
            gap: 183px;
  
            .footer_items {
              @include footerItemStyle;
            }
          }
        }
  
        .third_column {
          width: 20%;
          height: 100%;
          display: flex;
          flex-direction: column;
          gap: 20px;
          justify-content: center;
          align-items: flex-end;
  
          .footer_icon {
            @include footerIconStyle;
          }
        }
      }
    }
  }