.homepage_nav {
  width: 100%;
  height: 112px;
  background-color: $nav-bg-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: $poppins;
  z-index: 3;

  .homepage_logo {
    @include logoStyle;
    padding-left: 57px;
    cursor: pointer;
  }

  .homepage_list {
    display: flex;
    justify-content: space-around;
    gap: 80px;
    cursor: pointer;

    .homepage_list_item {
      position: relative;
      font-size: 30px;
      transition: 0.25s ease-in-out;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $hover-color;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }

      &:hover::after {
        transform: scale(1);
        transform-origin: bottom left;
      }
    }
  }

  .homepage_account {
    @include accountPicture;
    padding-right: 57px;
  }
}
